.mainColourHeader {
    align-items: center;
    background: #FFF;
    box-shadow: #000 5px 5px 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    height: 100px;
    margin-bottom: 100px;
    min-height: 100px;
    text-transform: uppercase;
    width: 100%;
}

.headerText {
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, rgb(126, 0, 130), rgb(0, 255, 255), green, yellow, orange, red);
    color: transparent;
    font-weight: 900;
    margin-left: 20px;
    white-space: nowrap;
    width: 500px;
}

#colourSearch {
    width: 50%;
}

form {
    display: flex;
    justify-content: center;
}

.radioContainer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100%;
}

.tabWrapper {
    margin: 3px;
}

.tabLabel {
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 0px -5px #000;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 2px;
    text-indent: 13px;
    transition: background 0.1s, color 0.1s;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.tabLabel:hover {
    background: #d8d8d8;
}

.radioInput {
    visibility: hidden;
}

.radioInput:checked+.tabLabel {
    background: #fff;
    box-shadow: 5px -5px -5px #000;
    color: #000;
    margin-top: 1px;
    transform: scale(0.9);
}

.colourContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 2%;
    position: relative;
    width: 100%;
}

.colourBlock {
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100px;
    justify-content: center;
    margin: 1%;
    margin-left: 2%;
    overflow: hidden;
    padding: 15px;
    padding-top: 25px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    text-shadow: -2px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    transition: all .2s ease-in-out;
    width: 217px;
}

.colourBlock:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.colourBlock:active::after {
    content: 'COPIED';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 70%;
    text-shadow: 5px 5px 5px #000;
}

@media screen and (max-width: 600px) {
    .colourBlock {
        font-size: 10px;
    }
}